@charset "UTF-8";
/* Aiden Talavera, March 26th, 2019*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #FFFFFF;
	background-color: #333333;
	padding: 0 40px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #FFFFFF;
}
h1 {
	font-size: 25px;
	padding: 4px 0;
	font-variant: small-caps;
	letter-spacing: .5em;
	line-height: 2em;
	background-color: #345F99;
	font-style: italic;
	font-weight: 900;
}
h2 {
	font-size: 21px;
	padding: 6px;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	font-weight: 900;
}
h3 {
	font-size: 18px;
	letter-spacing: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #345F99;
	padding: 4px 0;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #345F99;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #19227F;
	text-decoration: none;
}
a:hover {
	color: #5968FF;
	text-decoration: underline;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 12px;
}
ol {
	margin-left: 14px;
}

/* table styles -------------------------------------- */
table {
	border: solid #345F99 1px;
}
td {
	padding: 6px;
	border: solid #345F99 1px;
}
th {
	font-weight: bold;
	background-color: #345F99;
	text-align: center;
	padding: 6px;
	border: solid #345F99 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #345F99 1px;
}

img {
	border: solid #345F99 1px;

}
iframe {
	border: solid #345F99 1px;
	padding: 8px;
	margin: 8px;
}

/* DIV STYLES FOR PAGE LAYOUT */

#container {
  width: 900px;
  margin: 0 auto;
  padding: 40px;
  padding-right: 100px;
  /* border: 1px solid #000; */
  background-color: #7F7F7F;
  overflow: hidden;
}

#header{
  width: 100%;
  background-color: #7F7F7F;
  padding: 0;
  border-bottom: solid #345F99 1px;
}

#content{
  width: 600px;
  background-color: #7F7F7F;
  padding: 0px;
  margin-top: 5px;
  float: left;
}

#sidebar{
  width: 150px;
  background-color: #D3D3D3;
  padding: 10px;	
  float: left;
  margin-left: 30px;
  margin-top: 80px;
  border-radius: 12px;
  overflow: hidden;
}

#sidebar h2 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  color: #000;
}

#sidebar p {
  font-size: .7em;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  color: #000;
}

#footer{
  width: 100%;
  background-color: #7F7F7F;
  padding: 0;
  border-top: solid #345F99 1px;
  clear: both;
}

#footer p {
  font-size: 1em;
  margin: 0 0px;
}